<nav class="navbar navbar-inverse">
      <div class="navbar-header blog-dropdown">
        <a class="navbar-brand dropdown-toggle" 
           data-toggle="dropdown" 
           role="button"> 
           I hate the snow <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
          <li ng-repeat="category in categories" class="nav-button"> 
          <!-- ng repeat -->
              <a 
                ng-click="changeLocation($index)"
                class="nav-button" > {{category.name}}
              </a>
          </li>
        </ul>
      </div>
</nav>


<div id="display">

  <p id="location"> 
      title: <strong>{{pic.title}}</strong><br>
      <a href="{{pic.github}}" style="color:#333">{{pic.github}}</a>
  </p>


  <div id="description">
    <h2 id="album">{{categories[category].name}}</h2>
  </div>


  <div class="container floatspace">
    <div id="buttons-images"> 

      <div id="gallerybuttons" class="btn-group" role="group" aria-label="...">
          <!-- Buttons -->
          <button 
            type="button" 
            class="btn btn-default" 
            ng-repeat="n in range(1,(images[json].length+1))"
            ng-click="changePic($index)"
            >{{n}}   
          </button>
      </div>
      
      <div id="image" class="floatleft">
        <!-- Images -->
        <img ng-src="{{ images[json][picIndex].url }}">
        <div id="comment" >{{pic.description}}</div>
        <!-- Comments -->
      </div>  
    </div>

  </div>
  

</div>